<mat-tab-group mat-stretch-tabs dynamicHeight>
  <mat-tab label="{{$$('authProvider.loginTab')}}">

    <form [formGroup]="login" (submit)="LOGIN()" autocomplete="off">
      <div class="fields">
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.login.login')}}" formControlName="login">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.login.password')}}" formControlName="password" type="password">
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-button type="submit">
          {{$$('authProvider.login.button')}}
        </button>
      </div>

    </form>

  </mat-tab>

  <mat-tab label="{{$$('authProvider.registrationTab')}}">

    <form [formGroup]="registration" (submit)="REGISTER()"  autocomplete="off">
      <div class="fields">
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.registration.login')}}" formControlName="login">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.registration.fullName')}}" formControlName="fullName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.registration.email')}}" formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.registration.password')}}" formControlName="password" type="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{$$('authProvider.registration.repeatPassword')}}" formControlName="repeatPassword" type="password">
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-button type="submit">
          {{$$('authProvider.registration.button')}}
        </button>
      </div>

    </form>

  </mat-tab>

</mat-tab-group>
